body {
    background-color: #000000;
    color: #c6c6c6;
    overflow: hidden;
}

a, a:visited {
    text-decoreation: none;
    color: #c6c6c6;
}

a:hover, a:active {
    color: #fff;
}

#controlPanel {
    z-index: 50;
    position: absolute;
    bottom: 35px;
    width: 100%;
    color: #999;
    max-height: 600px;
    -webkit-transition: max-height 0.8s;
       -moz-transition: max-height 0.8s;
            transition: max-height 0.8s;
    overflow: hidden;
}

#controlPanel.hidden {
    max-height: 52px;
}

#info {
    text-align: center;
    z-index: 50;
    position: absolute;
    float: left;
    width: 100%;
    overflow: hidden;
    max-height: 200px;
    -webkit-transition: max-height 0.8s;
       -moz-transition: max-height 0.8s;
            transition: max-height 0.8s;
    background-color: rgba(255, 255, 255, 0.15);
    padding-top: 10px;
}

#info.hidden {
    z-index: 50;
    position: absolute;
    overflow: hidden;
    max-height: 0px;
    -webkit-transition: max-height 0.2s;
       -moz-transition: max-height 0.2s;
            transition: max-height 0.2s;
}

/*#infoImage {*/
    /*float: left;*/
    /*padding: 0px 8px 8px 8px;*/
/*}*/

/*#infoArtist {*/
    /*font-size: 24px;*/
/*}*/

/*#infoTrack {*/
    /*font-size: 30px;*/
/*}*/

/*#player {*/
    /*width: 95%;*/
/*}*/
